@model CattleTempEditViewModel
@{
    ViewData["Title"] = "Temperatura e Gjedheve";
}
<div class="modal-header">
    <h5 class="modal-title">Editimi i Temperatures</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-action="_Edit" asp-controller="Temperature" class="noLoading" id="frmEditTemp" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="EditSuccess" role="form">

        @Html.AntiForgeryToken()
        <input asp-for="Id" hidden />
        <div class="row form-group">
            <div class="col-md-3">
                <label asp-for="CattleId" class="required form-label"></label>
               <select asp-for="CattleId" asp-items="ViewBag.Cattles" class="form-control select2">
                    <option></option>
                </select>
              
            </div>
            <div class="col-md-3">
                    <label asp-for="Temperature" class="required form-label"></label>
                    <input asp-for="Temperature" class="form-control" />
                    <span asp-validation-for="Temperature" class="text-danger" />
            </div>
          
    

        
      
        <div class="modal-footer modal-footer-uniform w-full justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Mbyll</button>
            <button type="submit" class="btn btn-outline-primary">Ndrysho</button>
        </div>
    </form>

  
</div>


    <script type="text/javascript">
    var form = $('#frmEditTemp');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

      
        
        function EditSuccess(data) {
            console.log(data);

            if (data.errorNumber == ErrorNumber.SUCCESS) {
                Swal.fire({
                    icon: 'success',
                    title: data.title,
                    text: data.errorDescription,
                    confirmButtonText: "Okay"
                }).then(t => {
                    window.location.reload()
                })
            } else if (data.errorNumber == ErrorNumber.WARNING) {
                Swal.fire({
                    icon: 'warning',
                    title: data.title,
                    text: data.ErrorDescription,
                    confirmButtonText: "Okay"
                })
            }
        }
    </script>