@model List<RolesCreateViewModel>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table id="cattle-table" class="table table-responsive">
            <thead>
                <tr>
                    <th>Emri i rolit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    
    </script>
}