@model List<RolesViewModel>

@{
    ViewData["Title"] = "Roles";
}

<div class="card">
    <div class="card-header">
        <h4>@ViewData["Title"]</h4>
        <div class="card-toolbar float-end">
            <a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Roles">Regjistro</a>
        </div>
    </div>
    <div class="card-body">
        <table id="cattle-table" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Emri i rolit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cattle-table').DataTable();
        });
    </script>
}
