@model FarmCreateViewModel
@{
}

<div class="card">
    <div class="card-header with-border">
        <h4>Plotesoni te dhenat me poshte</h4>
    </div>
    <form id="createForm" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="required" asp-for="FarmerId"></label>
                    @Html.DropDownListFor(m=>m.FarmerId, ViewBag.Farmers as SelectList, "Zgjedh", new { @class = "form-control select2"})
                    @*ekuivalente me dropdownlistfor*@
                    @* <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-control select2">
                        <option></option>
                    </select>*@
                    <span asp-validation-for="FarmerId" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="FarmName"></label>
                    <input asp-for="FarmName" class="form-control" />
                    <span asp-validation-for="FarmName" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label  asp-for="Place"></label>
                    <input asp-for="Place" class="form-control" />
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-sm btn-primary" value="Regjistro"/>
        </div>
    </form>

</div>
