@model List<ProcedureModel>

<div>
    @foreach (var item in Model)
    {
        var gjinia = "";
        
        @if(@item.Gender == 1){
            gjinia = "Mashkull"; } 
        else { gjinia = "Femer"; }

        <p>Gjinia: @gjinia </p>
        <p>Emri: @item.Name</p>
    }
</div>
