

.required:after {
    content: " *";
    color: #ea585a;
}

.button-td {
    padding: 2px !important;
    text-align: -webkit-center;
    vertical-align: middle !important;
}

.select2-results__option {
    text-align: left;
}

.select2-container {
    z-index: 999;
}

.btn-download {
    width: 40px;
}
.title-text, .card-title{
    text-transform: inherit;
}
.img-fluid{
    padding:5px;
}