@model MenuCreateViewModel
@{

}

<div class="modal-header">
    <h5 class="modal-title">Regjistrimi i menus se re</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-action="_Create" asp-controller="Menu" class="noLoading" id="frmCreateMenu" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="CreateSuccess" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="Name_SQ" class="required form-label"></label>
                <input asp-for="Name_SQ" class="form-control" />
                <span asp-validation-for="Name_SQ" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Name_EN" class="required form-label"></label>
                <input asp-for="Name_EN" class="form-control" />
                <span asp-validation-for="Name_EN" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Name_SR" class="required form-label"></label>
                <input asp-for="Name_SR" class="form-control" />
                <span asp-validation-for="Name_SR" class="text-danger" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="Area" class="form-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Controller" class="form-label"></label>
                <input asp-for="Controller" class="form-control" />
                <span asp-validation-for="Controller" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Action" class="form-label"></label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="Policy" class="form-label"></label>
                <input asp-for="Policy" class="form-control" />
                <span asp-validation-for="Policy" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="OrdinalNumber" class="required form-label"></label>
                <input asp-for="OrdinalNumber" class="form-control" />
                <span asp-validation-for="OrdinalNumber" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Icon" class="required form-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="StaysOpenFor" class="required form-label"></label>
                <input asp-for="StaysOpenFor" class="form-control" />
                <span asp-validation-for="StaysOpenFor" class="text-danger" />
            </div>
            <div class="col-md-4">
                @Html.Label("Has submenu", null, new { @class = "required form-label" }) <br />
                <div class="form-check form-switch form-switch-success">
                    <input asp-for="HasSubMenu" class="form-check-input" type="checkbox">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer modal-footer-uniform w-full justify-content-between">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Mbyll</button>
        <button type="submit" class="btn btn-outline-primary">Regjistro</button>
    </div>
</form>

<script type="text/javascript">
    var form = $('#frmCreateMenu');
    form.removeData('validator');
    form.removeData('unobtrusiveValidation');
    $.validator.unobtrusive.parse(form);

    function CreateSuccess(data) {
        console.log(data);

        if (data.errorNumber == ErrorNumber.SUCCESS) {
            Swal.fire({
                icon: 'success',
                title: data.title,
                text: data.errorDescription,
                confirmButtonText: "Okay"
            }).then(t => {
                window.location.reload()
            })
        } else if (data.errorNumber == ErrorNumber.WARNING) {
            Swal.fire({
                icon: 'warning',
                title: data.title,
                text: data.ErrorDescription,
                confirmButtonText: "Okay"
            })
        }
    }
</script>